NEXT_PUBLIC_SITE_URL=https://legion-elabuga.ru
NEXT_PUBLIC_BOOKING_URL=https://max.ru/u/f9LHodD0cOLeksA_YaAnCgfBbIbCd3C_2vNnsw1SM3z4hzCgnRlkEHN39AI
NEXT_PUBLIC_VK_URL=https://vk.ru/legion_elabuga
NEXT_PUBLIC_ANALYTICS_ID=
DATABASE_URL=
JWT_SECRET=